@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite ease-in-out;
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  to {
    transform: scale(1);
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-scale-down {
  animation: scaleDown 1s ease-in-out forwards;
}

.animate-fade-slide-up {
  animation: fadeSlideUp 1s ease-in-out forwards;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: opacity 0.5s ease-in-out;
}

